#outer{
    width: 400px;
    height: 410px;
    text-align: center;
    background-color: red;
    margin: auto;
    margin-top: 100px;
    padding-top: 55px;
}

#inner{
    position: relative;
    width: 75%;
    height: 75%;
    background-color: lightgreen;
    margin: auto;
}

.input{
    width: 80%;
    height: 30px;
    border: none;
}

h2{
    padding-top: 50px;
    font: 35px Helvetica;
}

#submit{
    width: 85%;
    height: 30px;
    background-color: darkblue;
    color: white;
    font-weight: bold;
    font-size: medium;
    border: none;
}

#noAccount{
    color: white;
    padding-top: 30px;
    font: 15px Helvetica;
}